{% extends "base.html" %}
{% block body %}
<!-- CaRD-->
<div class="landing-page">
    <div class="content">
        <div class="container">
            <div class="info">
                <h1>Atlantic Warriors</h1>
                <p>Detect, Defend, Restore: Our Mission to Safeguard Nature from Plastic Menace.</p>
                <button href="/templates/Utlilites.html" class="btn">Get Started</button>
            </div>
            <div class="image">
                <img src="{{ url_for('static', filename='land_img.png') }}">
            </div>
        </div>
    </div>
</div>

<!-- <style>
    .card a {
        text-decoration: none;
        /* Remove underline from anchor tags */
        color: black
    }

    .card a:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
        /* Add any other styles you want for the hover effect */
    }
</style> -->


<section class="game-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="about-title text-center">
                <h2 class="title fw-bold">Our Services</h2>
            </div>
        </div>
    </div>
    <center>
    <div class="owl-carousel custom-carousel owl-theme no-nav">
      <div class="item active" style="background-image: url(/static/db_img.jpg);" href="/db">
        <a href="/login_reg"><div class="item-desc">
          <h3 style="  color: #f2f2f2;">Database</h3>
          <p>This shows the database from real time data collected from the drone.</p>
        </div></a>
      </div>
        <div class="item" style="background-image: url(/static/obj_img.jpg);" href="/predict">
            <a href="/login_reg"><div class="item-desc">
            <h3 style="  color: #f2f2f2;">Object Detection</h3>
            <p> This allow us to detect the plastic in the drone image.</p>
            </div></a>
        </div>
        <div class="item" style="background-image: url(/static/Visualize.jpg);" >
            <a href="/login_reg"><div class="item-desc">
            <h3 style="  color: #f2f2f2;">Visualize</h3>
            <p>Visualization of the data collected from the drone.</p>
            </div></a>
        </div>
    </center>
    </section>
  
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".custom-carousel").owlCarousel({
            items: 1,            // Show only one item at a time
            loop: false,         // Disable looping
            margin: 0,           // No margin between items
            autoWidth: true      // Automatically adjust item width based on content
            });

            $(".custom-carousel .item").click(function () {
            $(".custom-carousel .item").not($(this)).removeClass("active");
            $(this).toggleClass("active");
            });
        });
        </script>


<br> <br>
{% endblock body %}