{% extends "base.html" %}
{% block body %}
<!-- CaRD-->
<div class="landing-page">
    <div class="content">
        <div class="container">
            <div class="info">
                <h1>Atlantic Warriors</h1>
                <p>Detect, Defend, Restore: Our Mission to Safeguard Nature from Plastic Menace.</p>
                <button href="/templates/Utlilites.html" class="btn">Get Started</button>
            </div>
            <div class="image">
                <img src="{{ url_for('static', filename='land_img.png') }}">
            </div>
        </div>
    </div>
</div>

<style>
    .card a {
        text-decoration: none;
        /* Remove underline from anchor tags */
        color: black
    }

    .card a:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
        /* Add any other styles you want for the hover effect */
    }
</style>

<section class="about-area about-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-title text-center">
                    <h2 class="title fw-bold">Our Services</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row justify-content-center">
            <a class="col-md-4 col-sm-8" href="/db">
                <div class="single-about-items">
                    <center>
                        <img src="{{ url_for('static', filename='db_img.jpg') }}" alt="img2" width="85%">
                    </center>
                    <div class="items-content">
                        <h4 class="items-title">Database</h4>
                        <p class="text">
                            This shows the database from real time data collected from the drone.
                        </p>
                    </div>
                </div>
                <!-- single about items -->
            </a>
            <a class="col-md-4 col-sm-8" href="/predict">
                <div class="single-about-items">
                    <img src="{{ url_for('static', filename='obj_img.jpg') }}" alt="img3" width="100%">
                    <div class="items-content">
                        <h4 class="items-title">Object Detection</h4>
                        <p class="text">
                            This allow us to detect the plastic in the drone image.
                        </p>
                    </div>
                </div>
                <!-- single about items -->
            </a>
            <a class="col-md-4 col-sm-8" href="/visualize">
                <div class="single-about-items">
                    <img src="{{ url_for('static', filename='Visualize.jpg') }}" alt="img1" width="100%">
                    <div class="items-content">
                        <h4 class="items-title">Visualize</h4>
                        <p class="text">
                            Visualization of the data collected from the drone.
                        </p>
                    </div>
                </div>
                <!-- single about items -->
            </a>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!-- </div> -->

<br> <br>
{% endblock body %}