{% extends "base.html" %}
{% block body %}

<br><br><br><br>
<div style="width: 80%; height:30%; margin: auto;">
    <canvas id="lineChart"></canvas>
</div>

<script>
    async function fetchData() {
        const response = await fetch("/linechart");
        const data = await response.json();

        console.log("Response images:", data[0]); // Check the data received from the Flask route
        console.log("Response no_of_plastic:", data[1]); // Check the data received from the Flask route

        return [data[0], data[1]];
    }

    async function drawChart() {
        const [labels, count] = await fetchData();

        var ctx = document.getElementById('lineChart').getContext('2d');
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Number of Plastic',
                    data: count,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderWidth: 1,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Image Name'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Number of Plastic'
                        }
                    }
                }
            }
        });
    }

    drawChart();
</script>


{% endblock body %}
